<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<header>
		<h2><%= link_to 'Bare bones blog app', root_path %></h2>
	</header>
	<% [:notice, :alert].each do |level| %>
		<% if flash[level] %>
			<div class="flash <%= level %>"><%= flash[level] %></div>
		<% end %>
    <% end %>
	<%= yield %>
	<%= sidebar %>
	<footer>
		<p>A sample Rails app from <a href="https://github.com/jrod01" target="_blank">Jrod01</a></p>
	</footer>
</div>
</body>
</html>
